::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #e0c076;
    border-radius: 4px;
}

.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
    display: inline-flex;
    vertical-align: middle;
}

#modal-toggle:checked~#order-review-modal {
    display: flex;
}

#modal-toggle:checked~body {
    overflow: hidden;
}

#success-trigger:checked~#order-content {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

#success-trigger:checked~#success-state {
    opacity: 1;
    display: flex;
}

#order-content {
    transition:
        opacity 0.3s ease-out,
        visibility 0.3s;
}

#success-state {
    transition: opacity 0.5s ease-in-out;
    display: none;
}