::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #e0c076;
    border-radius: 4px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
    display: inline-flex;
    vertical-align: middle;
}

#modal-toggle:checked~#order-review-modal {
    display: flex;
}

#modal-toggle:checked~body {
    overflow: hidden;
}