body {
    margin: 0;
    padding: 0;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* setting input type number arrow to the shadow realm
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Removes the native spinner styling for WebKit browsers */
  margin: 0; /* Removes the margin to prevent any extra space */
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; /* Sets the appearance to a standard text field in Firefox */
}