body {
    font-family: 'Work Sans', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.active-icon {
    font-variation-settings: 'FILL' 1;
}

#order-modal {
    display: none;
}