.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 24px;
}

body {
    font-family: 'Manrope', sans-serif;
}

#modal-toggle:checked ~ #order-modal {
    display: flex;
}