*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}   

body{
    background: floralwhite;
}

.header-login{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    padding: 30px;
    background: cornsilk;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.IMG-LOGIN img{
    width: 80px;
    display: flex;
}

.navbar a{
    position: relative;
    font-size: 16px;
    color: sienna;
    text-decoration: none;
    font-weight: 500px;
    margin-right: 30px;
    
}

.navbar a:hover{
    color: peru;
}

.user-login{
    width: 100px;
    display: flex;
    margin-right: 10px;

}

.user-login button{
    width: 100px;
    height: 40px;
    margin: 2px;
    background: cornsilk;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-login button i{
    font-size: 20px;
}

